## MAC files ##
.DS_Store

## NPM ##
npm
npm-debug.log
node_modules/

pids
*.pid
logs
*.log

# Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

#csv
database/HighVolumeSeed/postgres/houses/house.csv